.error {
    width: 100%;
    margin-top: 1.5rem;
    text-align: center;

}

.error-title {
    font-size: 25px;
    background-color: var(--red);
    color: var(--white-100);
    border-radius: .5rem;
    padding: 1rem 0;

}