.App {

    padding: 1rem 3rem;
}

.App-main {
    display: flex;
    margin-top: 2rem;
}

.App-sidebar {
    flex: 1;
    position: sticky;
    margin-left: 1rem;
}

.App-pages {
    flex: 3;
    background-color: var(--white-100);
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .7);

}